<section class="connect-page">

<header class="connect-section">
    <h1>Connect With Other Fans</h1>
    <p class="connect-header-subtitle">Discuss matches, clubs, and breaking EPL news</p>
</header>

<!-- for first time user -->
<section id="profile-section">
    <h2>If you want to post comments please create a profile.</h2>
    <form id="profile-form">
        <input type="text" id="username" autocomplete="given-name" placeholder="Enter a username" required />
        <input type="text" id="club" placeholder="Favorite club" required />
        <button type="submit">Continue</button>
    </form>
</section>

   <!-- comment form -->
<form id="comment-form">
    <textarea id="comment" placeholder="Say something..." required></textarea>
    <button type="submit">Post Comment</button>
</form>

<div class="comments-section">
    <ul id="comments-list"></ul>
</div>
</section>  <!--End of the connect html code-->