<section class="connect-page">

<header class="connect-header">
    <h1>Connect With Other Fans</h1>
    <p class="connect-header-subtitle">Discuss matches, clubs, and breaking EPL news</p>
</header>

<!-- for first time user -->
<section id="profile-section" hidden>
    <h2>Create your Profile</h2>
    <form id="profile-form">
        <input type="text" id="username" placeholder="Enter a username" required />
        <input type="text" id="club" placeholder="Favorite club" required />
        <button type="submit">Continue</button>
    </form>
</section>

   <!-- comment form -->
<form id="comment-form">
    <textarea id="comment" placeholder="Say something..." required></textarea>
    <button type="submit">Post Comment</button>
</form>

<ul id="comments-list"></ul>

</section>  <!--End of the connect html code-->