<section id="table-section">
    <div class="current-table">
        <table class="league-table">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Team</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Drawn</th>
                    <th>Lost</th>
                    <th>Goal Diff</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
    <div class="legend">
        <table class="legend-meaning">
            <thead>
                <th colspan="2">Legend</th>    
            </thead>
            <tbody>
                <tr>
                    <td class="champions-league">&mdash;</td>
                    <td> Qualified for UEFA Champions League</td>
                </tr>
                <tr>
                    <td class="championship">&mdash;</td>
                    <td>Relegated to the Championship</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>