<section id="table-section">
    <div class="current-table">
        <table class="league-table">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Team</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Drawn</th>
                    <th>Lost</th>
                    <th>Goal Diff</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
    </div>
</section>