<section class="hero-teams">
    <img src="/images/hero-stadium.png" alt="Hero image">
    <div class="hero-teams-content">
        <h1>Which is your team?</h1>     
    </div>
</section>

<section class="teams-section">
    
    <!-- <h1>These Are The Curent Teams In The Premier League</h1> -->
    
    <div id="teams-container"></div>

    <div id="team-modal" class="modal hidden">
        <div class="modal-content">
            <span id="close-modal">X</span>
            <h2 id="modal-title"></h2>
            <p id="modal-info"></p>
            <a id="learn-more" target="_blank">Learn More</a>
        </div>
    </div>
</section>        